.dial .value-text {
    font-family: "Helvetica LT Std";
    font-size:18.57837486px;
    fill:#224e61;
    text-anchor: middle;
}

.dial .value-text.no-data {
    font-size:16px;
}

.dial .standard-text {
    font-family: "Helvetica LT Std" !important;
    font-weight: bold !important;
}

.dial .tick-labels, .dial .standard-text {
    font-family: "Helvetica LT Std" !important;
    fill: #3c3c3c !important;
}

.dial .progress-strip {
    fill:#224e61 !important;
}
