.c3-grid line {
    stroke-dasharray: 2;
}

.c3-axis text {
    font-size: 6px;
    fill: #7b7979;
}

.c3-axis path, .c3-axis line {
    stroke: #7b7979;
    stroke-width: 0.45px;
}

.c3-texts text {
    font-size: 6px;
}

.c3-axis-x .tick line {
   display: none;
}

.c3-line {
    stroke: #D81920 !important;
}

.c3-circle {
    fill: #D81920 !important;
}

.c3-texts-data2 text {
    fill: #D81920 !important;
}

.c3-chart-bars path {
    stroke: none !important;
}


#rmnch .c3-axis-y2 {
    display: none;
}

#bimulti .c3-target-data1 path
{
    fill: #b5d7e6 !important;
    stroke: none;
}

#total-commitments .c3-target-data1 path,
#total-commitments .c3-texts-data1 text,
#health-total .c3-target-data1 path,
#health-total .c3-texts-data1 text,
#rmnch .c3-target-data1 path,
#rmnch .c3-texts-data1 text,
#bimulti .c3-target-data2 path
{
    fill: #224e61 !important;
}

/* no longer need the line graph but it's easier to remove it in CSS */
#rmnch .c3-chart-lines,
#rmnch .c3-texts-data2 text {
    display: none;
}

.progdial circle {
    fill: #224e61;
}

.progdial .background {
    fill: #d3d2d2;
}

.progdial .foreground {
    fill: #224e61;
}

.progress-meter text {
    font-family: "Helvetica LT Std";
    font-size: 14px;
}

#perc_gdp .progdial text {
    font-size: 12px !important;
}

.perc_year {
    font-size:7.8px; 
    font-family: "Helvetica LT Std";
    fill: white; 
}

.pledge .wrapped {
    font-size:6.2px;
    font-family: "Helvetica LT Std";
    color: #4f4c4d;
    text-align: left;
}

.pledge rect {
    display: none;
}

.pledge tspan {
    font-family: "Helvetica LT Std";
    font-size: 6px;
}
