.line-graph .line {
    fill: none;
    stroke: #65b2d0;
}

.line-graph .axes line {
    stroke: #4f4c4d;
}

.line-graph .axes text {
    fill: #4f4c4d;
    font-family: "Helvetica LT Std" !important;
    font-size: 11.4px !important;
}

.line-graph .yLabel {
    text-anchor: end !important;
    font-size: 9px;
}

.line-graph .xLabel {
    font-size: 9px;
    text-anchor: middle !important;
}

.line-graph .guide-line {
    stroke: #4f4c4d;
    stroke-width:0.25;
    stroke-linecap:round;
    stroke-dasharray:2;
}

.line-graph .mdg {
    stroke: #f57a1e;
    stroke-width:2.5;
    stroke-linecap:round;
    stroke-dasharray:5;
}

.line-graph .mdg-text {
    fill: #f57a1e;
    font-family: "Helvetica LT Std" !important;
    font-size: 12px;
}
.line-graph .mdg-text-figure {
    fill: #f1511b;
    font-family: "Helvetica LT Std" !important;
    font-size: 12px;
    font-weight: bold;
}

.line-graph .spot, .line-graph .spot-text {
    fill: #224e61;
}

.line-graph .spot-text, .line-graph .spot-text2 {
    fill: #224e61;
    font-family: "Arial" !important;
    font-size: 10px;
}

.line-graph .spot-text2 {
    font-weight: bold;
}

