.progdial text {
    font-family: "Helvetica LT Std";
    font-size: 12px;
    font-weight: bold;
    font-color: white;
}

.progdial .center {
    fill: #224e61;
}

.progdial .background {
    fill: #f4f4f4;
}
.progdial .foreground {
    fill: #b4d8e6;
}

