.quintile-widget #result-value text {
    fill: #224e61 !important;
    font-family: "Helvetica LT Std" !important;
    font-size:6px !important;
}

.quintile-widget #result-indicator path {
    fill: #224e61 !important;
}
