.yesno #outer-ring.no {
    fill: #d91920;
}

.yesno #outer-ring.yes {
    fill: #b0da19;
}

.yesno text {
    font-family: "gesta";
    fill: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.yesno .nodata {
    font-size: 6px;
}

.yesno .partial {
    font-size: 7px;
}
