.yesno #outer-ring.no {
    fill: #224e61;
}

.yesno #outer-ring.yes {
    fill: #224e61;
}

.yesno text {
    font-family: "Helvetica LT Std";
    fill: #224e61;
    text-transform: uppercase;
    font-weight: bold;
}

.yesno .nodata {
    font-size: 6px;
    fill: #224e61;
}

.yesno .partial {
    font-size: 6px;
    fill: #224e61;
}
