<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="//use.typekit.net/sxw8drc.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <link rel="stylesheet" href="css/c3.min.css">
    <link rel="stylesheet" href="css/donor.css">

</head>
<body>
    <div id="chart2"></div>
    <div id="content"></div>

    <script type='text/javascript' src='js/d3.js'></script>
    <script type='text/javascript' src='js/d3textwrap.v0.js'></script>
    <script type='text/javascript' src='js/c3.js'></script>
    <script type='text/javascript' src='js/progdial.js'></script>
    <script type='text/javascript' src='js/donor.js'></script>

    <script>
        var ctx = {{ context }};
        ctx['node'] = d3.select('#content');
        donor = new Donor(ctx)
    </script>
</body>
</html>
