<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="//use.typekit.net/sxw8drc.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <link rel="stylesheet" href="css/progdial.css">
    <link rel="stylesheet" href="css/segpie.css">
    <link rel="stylesheet" href="css/indicator.css">
    <link rel="stylesheet" href="css/dial.css">
    <link rel="stylesheet" href="css/line.css">
    <link rel="stylesheet" href="css/quintile.css">
    <link rel="stylesheet" href="css/yesno.css">

</head>
<body>
    <div id="content"></div>

    <script type='text/javascript' src='js/d3.v3.js'></script>
    <script type='text/javascript' src='js/indicator.js'></script>
    <script type='text/javascript' src='js/segpie.js'></script>
    <script type='text/javascript' src='js/progdial.js'></script>
    <script type='text/javascript' src='js/dial.js'></script>
    <script type='text/javascript' src='js/line.js'></script>
    <script type='text/javascript' src='js/quintile.js'></script>
    <script type='text/javascript' src='js/yesno.js'></script>
    <script type='text/javascript' src='js/page1.js'></script>

    <script>
        var round2 = function(x) {
            return Math.round(x * 100) / 100;
        }

        var round1 = function(x) {
            return Math.round(x * 10) / 10;
        }

        var ctx = {{ context }};
        ctx['node'] = d3.select('#content');
        ctx['maternal-mortality']['w'] = 500;
        ctx['maternal-mortality']['h'] = 180;
        ctx['under5-mortality']['w'] = 500;
        ctx['under5-mortality']['h'] = 180;
        ctx['neonatal-mortality']['w'] = 500;
        ctx['neonatal-mortality']['h'] = 170;
        ctx['stunting']['w'] = 500;
        ctx['stunting']['h'] = 170;
        ctx['doctors'] = round2(ctx['doctors'])

        // TODO - not sure which locale to use for spaces as thousands separators
        ctx['total-population'] = ctx['total-population'].toLocaleString().replace(/,/g, ' ');
        ctx['under5-population'] = ctx['under5-population'].toLocaleString().replace(/,/g, ' ');
    
        var q = ctx['quintile']
        var roundq = function(v) {
            return {
                bottom : round1(v['bottom']),
                value : round1(v['value']),
                top : round1(v['top'])
            }
        }
        q['contraception'] = roundq(q['contraception'])
        q['antenatal'] = roundq(q['antenatal']);
        q['prevention'] = roundq(q['prevention']);
        q['birth-attendants'] = roundq(q['birth-attendants']);
        q['post-natal'] = roundq(q['post-natal']);
        q['breast-feeding'] = roundq(q['breast-feeding']);
        q['dpt3'] = roundq(q['dpt3']);
        q['pneumonia'] = roundq(q['pneumonia']);

        page1 = new Page1(ctx)
            
    </script>
</body>
</html>
