<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="//use.typekit.net/sxw8drc.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <link rel="stylesheet" href="css/indicator.css">

</head>
<body>
    <div id="content"></div>

    <script type='text/javascript' src='js/d3.v3.js'></script>
    <script type='text/javascript' src='js/indicator.js'></script>
    <script type='text/javascript' src='js/page2.js'></script>

    <script>

        var ctx = {{ context }};
        ctx['node'] = d3.select('#content');

        page2 = new Page2(ctx)
            
    </script>
</body>
</html>
